
#maincon{

display: flex;
text-align: center;
background-color: chartreuse;
width: 100%;
height: 25px;
padding: 5px;
flex-wrap: wrap;
justify-content: space-between;
flex-wrap: wrap;


}

@media (max-width:768px){
#mainabo{
flex-direction: column;
text-align: center;
width: 100%;
padding: 10px 0;
}

#maincar{
flex-direction: column;
text-align: center;
width: 100%;
padding: 10px 0;
}

#maincon{
flex-direction: column;
text-align: center;
width: 100%;
padding: 10px 0;
}

#mainind{
flex-direction: column;
text-align: center;
width: 100%;
padding: 10px 0;
}

#mainloc{
flex-direction: column;
text-align: center;
width: 100%;
padding: 10px 0;
}

#mainpro{
flex-direction: column;
text-align: center;
width: 100%;
padding: 10px 0;
}

#mainser{
flex-direction: column;
text-align: center;
width: 100%;
padding: 10px 0;
}

}



footer{
background-color: cyan;
width: 100%;
height: 40px;
text-align: center;
padding-top: 15px;
}

form{
background-color: rgb(0, 255, 72);
border-radius: 20px;
padding-left: 20px;
padding-top: 10px;
width: 50%;
align-items: center;
justify-self: center;


}

input[type="text"],[type="email"],[type="tel"],[type="datetime-local"]{

width: 30%;
height: 20px;
border-radius: 10px;
margin-inline-end: -5%;

}


button{
background-color: blue;
margin-left: 40%;
border-radius: 10px;
width: 20%;
height: 20px;

}

button:hover{
background-color: red;
color: chartreuse;
font-weight: bolder;
width: 20%;
height: 40px;

}


html,body{
height: 100%;
margin: 0;

}

body{
  display: flex;
  flex-direction: column;
}

main{
flex: 1;

}









