#mainind{

background-color: chartreuse;
display: flex;
text-align: center;
width: 100%;
height: 25px;
padding: 5px;



}

.ind{
margin-left: 150px;


}

footer{
background-color: cyan;
width: 100%;
height: 40px;
text-align: center;
padding-top: 15px;
}

#cloudlink{
text-shadow: 2px 2px blue;



}





