#mainloc{
display: flex;
text-align: center;
background-color: chartreuse;
width: 100%;
height: 25px;
padding: 5px;
flex-wrap: wrap;
justify-content: space-between;
flex-wrap: wrap;


}

@media (max-width:768px){
#mainabo{
flex-direction: column;
text-align: center;
width: 100%;
padding: 10px 0;
}

#maincar{
flex-direction: column;
text-align: center;
width: 100%;
padding: 10px 0;
}

#maincon{
flex-direction: column;
text-align: center;
width: 100%;
padding: 10px 0;
}

#mainind{
flex-direction: column;
text-align: center;
width: 100%;
padding: 10px 0;
}

#mainloc{
flex-direction: column;
text-align: center;
width: 100%;
padding: 10px 0;
}

#mainpro{
flex-direction: column;
text-align: center;
width: 100%;
padding: 10px 0;
}

#mainser{
flex-direction: column;
text-align: center;
width: 100%;
padding: 10px 0;
}

}



footer{
background-color: cyan;
width: 100%;
height: 40px;
text-align: center;
padding-top: 15px;
}

html,body{
height: 100%;
margin: 0;

}

body{
  display: flex;
  flex-direction: column;
}

#main{
flex: 1;

}











